 .game {
	display: inline-block;
	width: 12%;
	margin: 8px;
	border: 1px solid #eee;
	box-shadow: 0 2px 3px #ccc;
	padding: 4px;
	text-align: center;
	box-sizing: border-box;
	
}

.game img {
	display: inline-block;
	height: 80%;
	width: 80%;
	float: none;
	margin: 4px;
}

.game span {
	display: inline-block;
	font-size: 18px;
	font-weight: bold;
	clear: both;
}

.active {
	display: inline-block;
	width: 18%;
	margin: 8px;
	border: 1px solid #eee;
	box-shadow: 0 2px 3px #ccc;
	padding: 4px;
	text-align: center;
	box-sizing: border-box;
	
}

.active img {
	display: inline-block;
	height: 80%;
	width: 80%;
	float: none;
	margin: 4px;
}

.active img: hover {
	cursor: none;
}

.active span {
	padding: 2px;
	font-size: 22px;
	font-weight: bold;
	margin-bottom: none;
}