.tile {
	display: inline-block;
	width: 30%;
	margin: 8px;
	border: 1px solid #eee;
	box-shadow: 0 2px 3px #ccc;
	padding: 16px;
	text-align: center;
	box-sizing: border-box;

}

.tile:hover {
	cursor: pointer;
	border: 1px solid #d58282;
	box-shadow: 1px 3px 3px #ccc;
	color: #d58282;
}

