/*.container {
	width: 960px;


}*/

.login-form input{
	border: none;
	border-bottom: 2px solid #b3b2ca ;
	height: 26px;
	line-height: 20px;
	font-size: 20px;
	margin-top: 10px;
	transition:all .23s ease-in;

}

.login-form input:focus{border-bottom:solid 2px #5d5d8a;outline:none}

button {
	position: relative;
	display: inline-block;
	width: 9%; 
	height: 40px; 
	border-radius: 10px;
	background-color: #4970bd;
	font-size: 16px;
	color: white;
	margin: 4px;

} 

 button:hover {
	cursor: pointer;
	background-color: #d58282;
}

 button:disabled {
	background-color: #d58282;
}

.team-one {
	width: 45%;
	float: left;
	border: 2px;
	margin: 2%;
}

.team-two {
	width: 45%;
	float: right;
	border: 2px;
	margin: 2%;
}

.first{
	display: inline-block;
	position: fixed;
	margin-top: 20px;
	bottom: 20px;
	right: 50%;

}

.second{
	display: inline-block;
	position: fixed;
	margin-top: 20px;
	bottom: 20px;
	left: 50%;

}